.create form {
  display: grid;
  width: 25%;
  margin: 0 auto;
}

.create input, textarea {
  padding: 10px;
  margin-bottom: 20px;
}

.create input[type=number] {
  width: 93%;
}

.create textarea {
  height: 150px;
}

.create button{
  width: 25%;
  border: 2px solid dodgerblue;
  text-align: center;  
  font-size: 14px;
  background: dodgerblue;
  color: white;
  border-radius: 7px;
  margin: 20px auto 20px;
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.5);
}

.create button:hover{
  color: dodgerblue;
  background: transparent;
}